@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  font-family: "Press Start 2P", cursive;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*,
html {
  margin: 0;
  padding: 0;
  user-select: none;
}

h1 {
  font-size: 60px;
  color: white;
}

@media (min-width: 0) {
  h1 {
    font-size: 30px;
  }
  header a {
    display: none;
  }
}
@media (min-width: 800px) {
  h1 {
    font-size: 60px;
  }
  header a {
    display: flex;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

li,
a {
  text-decoration: none;
  text-transform: none;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  gap: 25px;
  align-items: center;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pokemon-list > div {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: crosshair;
}

.pokemon-list > div:hover {
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}

.pokemon-list img {
  margin: auto;
  object-fit: contain;
  background-color: rgb(17, 17, 17);
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 1));
}

.pokemon-list h5 {
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
}

.pokemon-list p {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}

button {
  font-family: "Press Start 2P", cursive !important;
}

header {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(29, 29, 29, 1) 0%,
    rgba(29, 29, 29, 0.7) 80%,
    rgba(29, 29, 29, 0.3) 90%,
    rgba(29, 29, 29, 0) 100%
  );
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pokeball:hover {
  animation: shake 1s forwards;
}

.back-link:hover {
  letter-spacing: 3px;
  transition: all 0.2s;
}
